@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F5;
    border-collapse: collapse;
}